@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 10px;
}

.persian-num {
  -moz-font-feature-settings: 'ss05';
  -webkit-font-feature-settings: 'ss05';
  font-feature-settings: 'ss05';
}
